*.pdf
!/docs/assigment/output/template.pdf
.DS_Store

/.luarc.json

*.typ
!**/_extensions/**/*.typ

/assigment/.quarto
/assigment/*.png

# Don't ignore .gitignore files in _extensions (they are format resources)
!**/_extensions/**/.gitignore
